

:root {
  /* 088395 */
  --color-sidebar-bg:  #37B7C3;
  /* --color-header-bg:#bfe3f0; */
  --color-main-bg: #ffffff;
  --color-text: #000000;
  --color-menu-icon: #000000;
}

.dark-theme {
  
  --color-sidebar-bg: #1a1a1a;
  --color-header-bg: #333333;
  --color-main-bg: #121212;
  --color-text: #ffffff;
  --color-menu-icon: #000000;
}

::-webkit-scrollbar {
  display: none;
}
.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 8% 1fr;
  grid-template-areas:
    "side nav"
    "side main";

 
}

.plus-icon{
  font-size: 35px;
 
}

.header {
  padding: 15px;
  color: var(--color-text);
  background-color: var(--color-header-bg);
  grid-area: nav;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 0.5px solid gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-nav {
  /* height: 100vh; */
  overflow: hidden;
  background: var(--color-sidebar-bg);
  /* background-color: var(--color-sidebar-bg); */
  grid-area: side;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
}

.main {
  padding: 15px;
  grid-area: main;
  overflow-y: auto;
  background-color: var(--color-main-bg);
  color: var(--color-text);
}

.menu-icon,
.mode-icon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  color: var(--color-menu-icon);
}


.menu-item{
  color: var(--color-menu-icon);
}

.arrow-icon{
  display: none;


}
@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main";
  }
.company-name{
  display: none;
}
  .sidebar {
    width: 100%;
    position: relative;
  }

  .toggle-btn {
    display: none;
  }

  .arrow-icon {
    display: block;
    cursor: pointer;
    margin-left: 230px;
    margin-top: 20%;

  }

  .toggle-container {
    position: relative;
    top: initial;
    transform: none;
    margin-left: 0;
  }
}
