:root {
    --primary-color-light: #071952;
    --secondary-color-light: #088395;
    --tertiary-color-light: #37B7C3;
    --quaternary-color-light: #EBF4F6;
  
    --primary-color-dark: #EBF4F6;
    --secondary-color-dark: #37B7C3;
    --tertiary-color-dark: #088395;
    --quaternary-color-dark: #071952;
  }
  
  .light-theme {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --tertiary-color: var(--tertiary-color-light);
    --quaternary-color: var(--quaternary-color-light);
  }
  
  .dark-theme {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --tertiary-color: var(--tertiary-color-dark);
    --quaternary-color: var(--quaternary-color-dark);
  }
  